.home_sidenav{
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: var(--g_bg_blue_border) 1px solid;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
}


.home_sidenav > *:first-child {
    text-decoration: none;
    margin: 10px 0 25px 0;
    margin-left: auto;
    margin-right: auto
}

.home_sidenav > *:not(:first-child) {
    text-decoration: none;
    margin: 0px 0 15px 0;
    margin-left: auto;
    margin-right: auto

}

.home_mainContent {
    height: 100%;
    width: calc(100vw - 70px);
    margin-left: 70px;
}

.home_videoPlayerWrapper{
    margin: 20px;
    text-align: center;
    max-height: 480px;
    max-width: 854px;

}


.home_videoLeftW{
    margin-top: 5vh;
    padding-left: 40px;
}

.home_videoPlayer {
    border-radius: 10px;
}

.home_urlInputArea{
    margin: 20px;
    max-width: 754px;
    height: 48px;
    background-color: var(--g_bg_gray);
    border-radius: 10px;
}

.home_urlInputArea > *:first-child {
    border: none;
    width: 90%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 20px;
}

.comment{
    background-color: black;
    width: 100%;
    height: 100%;
}
